body {
  background-color: #d4e1ef;
  overflow: hidden;
  font-family: "Roboto";
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  max-width: 320px;
  background-color: white;
  margin: 0 auto;
  padding: 1em;
  border-radius: 1em;
  box-shadow: 0 14px 20px rgba(145, 142, 142, 0.25);

  align-items: center;
  margin-top: 6em;
}
.image {
  width: 99%;
  margin: 0 auto;
  border-radius: 1em;
}
.title {
  font-size: 22px;
  color: #1f314f;
  text-align: center;
  width: 90%;
  margin: 1em auto;
}

.text {
  color: #7d889e;
  width: 90%;
  text-align: center;
  margin: 1em auto;
}
