body {
  background-color: #d4e1ef;
  overflow: hidden;
  font-family: "Roboto";
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin: auto;
  max-width: 320px;
}
.card {
  background-color: white;
  padding: 1em;
  border-radius: 1em;
  box-shadow: 0 14px 20px rgba(145, 142, 142, 0.25);
  margin-top: 3em;
  align-self: center;
}

.image {
  width: 99%;
  margin: 0 auto;
  border-radius: 1em;
}
.title {
  font-size: 22px;
  color: #1f314f;
  text-align: center;
  width: 90%;
  margin: 1em auto;
}

.text {
  color: #7d889e;
  width: 90%;
  text-align: center;
  margin: 1em auto;
}

@media only screen and (min-width: 1080px) {
  .card {
    margin-top: 8em;
  }
}
